body {

min-height: 90vh;
display: flex;
justify-content: center;
align-items: center;

}

.btn{
    border: 3px solid #fefefe;
    padding: 0.25rem 0.5rem;
    border-radius: 7px ;
    color: #fefefe;
    background-color: grey;
    font-size: 1.5rem;
     text-transform: capitalize;
     cursor: pointer;
     outline: none;
}
.btn:hover{
    background-color: black;
}